/* .home-container{
  height: 100vh;
  width: 100vw;

}
.title-holder{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 3;
  left: 0;
  padding-top: 3rem;


}
.title-1{
  font-size: 10rem;
  font-weight: bolder;
}
.title-2{
  font-size: 4rem;

}
.title-3{
  font-size: 5rem;
  font-weight:400;
}
.left-background{

width: 50%;
height: 100vh;


}
.right-background{
width:50%;
height: 100%;

} */